@mixin UtilityStyles($type) {
  @if ($type == code01) {
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    letter-spacing: 0.32px;
  } @else if ($type == code02) {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    letter-spacing: 0.32px;
  } @else if ($type == label01) {
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    letter-spacing: 0.32px;
  } @else if ($type == label02) {
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    letter-spacing: 0.16px;
  } @else if ($type == helperText01) {
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    letter-spacing: 0.32px;
  } @else if ($type == helperText02) {
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    letter-spacing: 0.16px;
  } @else if ($type == legal01) {
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    letter-spacing: 0.32px;
  } @else if ($type == legal02) {
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    letter-spacing: 0.16px;
  }
}

@mixin BodyStyles($type) {
  @if ($type == bodyCompact01) {
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    letter-spacing: 0.16px;
  } @else if ($type == bodyCompact02) {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    letter-spacing: 0px;
  } @else if ($type == body01) {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    letter-spacing: 0.16px;
  } @else if ($type == body02) {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0px;
  }
}

@mixin FixedHeadingStyles($type) {
  @if ($type == headingCompact01) {
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    letter-spacing: 0.16px;
  } @else if ($type == headingCompact02) {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    letter-spacing: 0px;
  } @else if ($type == heading01) {
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    letter-spacing: 0.16px;
  } @else if ($type == heading02) {
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    letter-spacing: 0px;
  } @else if ($type == heading03) {
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    letter-spacing: 0px;
  } @else if ($type == heading04) {
    font-size: 28px;
    line-height: 36px;
    font-weight: 400;
    letter-spacing: 0px;
  } @else if ($type == heading05) {
    font-size: 32px;
    line-height: 40px;
    font-weight: 400;
    letter-spacing: 0px;
  } @else if ($type == heading06) {
    font-size: 42px;
    line-height: 50px;
    font-weight: 300;
    letter-spacing: 0px;
  } @else if ($type == heading07) {
    font-size: 54px;
    line-height: 64px;
    font-weight: 300;
    letter-spacing: 0px;
  }
}
